#logo {
    text-align: center;
}

#logo img {
    height: 60px;
    width: 60px;
}

#shelf, #cart {
    background-color: white;
    height: 100px;
    width: 1000px;
}


.item {
    max-width: 60px;
    max-height: 60px;
}

.item-count {
    text-align: center;
}

#cart > div {
    display: inline-block;
}
